body {
  background-image: url('https://image.shutterstock.com/image-vector/seamless-pattern-game-tic-tac-600w-709731865.jpg');
  background-size: cover;
  margin: 0;
  font: 14px "Ubuntu", Helvetica;
}

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255,255,255,.7);
  border-radius: 1em;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background: #c00;
  color: #fff;
  display: none;
  margin: -20px -20px 20px;
  padding: 20px;
  white-space: pre-wrap;
}

ol,
ul {
  padding-left: 10px;
}
.board-row {
  transition: .5s ease-in all ;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  font-size: 1em;
  font-weight: bolder;
  color: blue;
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
